<html>
    <head>
        <title>Portal de Assinaturas</title>
        <link href="/public/styles/style-header-footer.css" rel="stylesheet" />
        <link href="/public/styles/style-page-initial.css" rel="stylesheet" />
        <link href="/public/styles/style-home/style-page-docs.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    </head>

    <body>
        <header>
            <div class="center">
                <div class="logo">
                    <h2><a href="/"><span style="font-weight:lighter;">JV</span><b>Tech</b></a></h2>
                </div><!--logo-->

                <div class="container-users">
                    <h3 style="font-weight:lighter;"> <span><%= userconect %></span></h3>
                </div>

            </div><!-- Center-->
        </header>